.labelFilter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
}

.inputFilter {
  height: 30px;
  outline: none;
  border: 1px solid grey;
  border-radius: 4px;
}
.inputFilter::placeholder {
  font-size: 14px;
  color: #8a8787;
}

.inputFilter:focus {
  border: 1px solid rgb(49, 148, 209);
}
